
/* * {
    box-sizing: border-box;
  } */

#MyTitle{
    left:0;
    width: 100%;
    background-color: lightsalmon;
    text-align: center;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    align-items: center;
}

@media only screen and (min-width: 800px) and (max-width: 990px) {

    .set {
        flex: 40%;
        display: inline-block;
    }

}

@media only screen and (max-width: 799px){

    .set {
        flex: 70%;
        display: inline-block;
    }

}

@media only screen and (min-width: 1000px){

    .set {
        flex: 20%;
        display: inline-block;
    }

    div:nth-child(3) {
        order: 1;
    }

}

.set {
    background-color: lightcyan;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    margin: 5px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    width: 100px;
    height: 20px;
    background-color: cyan;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

li:hover {
    width: 100px;
    height: 20px;
    background-color: lightgoldenrodyellow;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

#MyFoot{
    order: 2;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
}
